[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/juice-721-hook"]
	path = lib/juice-721-hook
	url = https://github.com/Bananapus/juice-721-hook
	branch = language-updates